@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root {
  --dark-navy: #242742;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #36384D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  color: var(--dark-navy);
}

.card {
  background-color: #fff;
  width: 928px;
  height: 641px;
  border-radius: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}